<!DOCTYPE html>
<html>
  <head>
	<% include ../layout/head.ejs %>
  </head>
  <body>
  	<% include ../layout/header.ejs %>
    <hr>
    <div class="container">
        <div class="row">  
        <% if (message) { %>
            <p>Error: <%= message %> </p>
        <% } %>
       
                        
        <form method="post" action="/farmers/add">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="username" required>
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Address</label>
                <textarea class="form-control" name="address" required rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Email</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                <input class="form-control" type="email" name="email" required>
                </div>

            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" name="phone" required>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="submit" onclick="cancelAdd()" class="btn btn-default">Cancel</button>
        </form>
    </div>
    </div>
    <%- include ../layout/footer.ejs %>
  </body>
</html>