<!DOCTYPE html>
<html>
  <head>
	<% include layout/head.ejs %>
  </head>
  <body>
  	<% include layout/header.ejs %>
    <div class="container" style="margin-top:70px;">
        <% if (message.length > 0) { %>
            <div class="alert alert-success"><%= message %></div>
        <% }%>
        <p>Hello World :)</p>
    </div>
    <% include layout/footer.ejs %>
  </body>
</html>
