<!DOCTYPE html>
<html>
  <head>
	<% include ../layout/head.ejs %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css"> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
  </head>
  <body>
  	<% include ../layout/header.ejs %>
    <hr>
    <div class="container">
        <h2>Add Task</h2>
    </div>
    <br>
    <div class="container">
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form method="post" action="/tasks/add">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" required>
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" name="description" required rows="3"></textarea>
            </div>
            <!--<div class="form-group">
                <label>Deadline</label>
                <input class="form-control" type="date" name="deadline" required>
            </div>-->
            <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                <input class="form-control" type="text" name="deadline" readonly />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            
            <div class="form-group">
                <label>Task asssign to a farmer</label>
                <select class="form-control" name="FarmerId">
                    <% for (var i = 0; i < data.length; i++) {%>
                        <option value="<%= data[i].id %>"><%= data[i].username %></option>
                    <% } %>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="submit" onclick="cancelAdd()" class="btn btn-default">Cancel</button>
        </form>
    </div>
    <%- include ../layout/footer.ejs %>
  </body>
</html>

<script>
    $(function () {
        $("#datepicker").datepicker({ 
            autoclose: true, 
            todayHighlight: true
        }).datepicker('update', new Date());;
    });    
</script>