<!DOCTYPE html>
<html>
  <head>
	<% include ../layout/head.ejs %>
  </head>
  <body>
  	<% include ../layout/header.ejs %>
      <hr>
      <div class="container" style="margin-top:70px;">
          <div class="row">
            <form action="" method="">
                <div>
                    <label>Username</label>
                    <div class="form-control"><%= user.username %></div>
                </div>
                <div>
                    <label>Email</label>
                    <div class="form-control"><%= user.email %></div>
                </div>
            </form>
    </div>
    </div>
    <% include ../layout/footer.ejs %>
  </body>
</html>
